// app global css
h3.q-mt-none.flex {
    justify-content: space-between;
}
.list-item-title {
    font-size: 17px;
}
.q-item__section--side .list-item-icon {
    font-size: 26px;
}
.q-badge.no-wrap.q-badge--single-line {
    padding: 5px;
    font-size: 14px;
}